.wrapper {
    width: 800px;
    margin: 0 auto;
    font-size: 17px;
    font-family: "Arial"
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 30px;
}

.left {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 30px;
}

.foto {
    border-radius: 50%;
}

.center {
    row-gap: 4px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 4px;
}

h1, h2 {
    margin: 0;
    font-size: 24px;
}

hr {
    width: 800px;
    margin-top: 30px;
}

.me {
    margin-top: 30px;
    font-size: 17px;
}

.tabl {
    margin-top: 45px;
    border: 1px solid #5A9645;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hob, .soc {
    align-items: center;
    justify-content: center;
}

.hob {
    border-right: 1px solid #5A9645;
}

.qwerty {
    text-align: center;
    margin: 5px;
    color: #5A9645;
}

.soc-niz, .hob-niz {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #5A9645;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #5A9645;
}

.tehnol {
    margin-top: 60px;
    border: 1px solid #5A9645;
    border-radius: 5px;
    background-color: #5A9645;
    padding: 6px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vseplat {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.plat{
    width: 130px;
    height: 100px;
}

.plat:hover, button:hover {
    -webkit-box-shadow: 0px 5px 10px 2px #5A9645;
    -moz-box-shadow: 0px 5px 10px 2px #5A9645;
    box-shadow: 0px 5px 10px 2px #5A9645;
    transition: all 0.4s ease;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.forma {
    margin-top: 70px;
    border: 1px solid #5A9645;
    border-radius: 5px;
    background-color: #5A9645;
    padding: 6px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pisat {
    margin-top: 15px;
    
}
.verh {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    height: 35px;
    font-size: 14px;
    
}

.pisu {
    border: 1px solid #B8B8B8;
    border-radius: 5px;
}

::placeholder {
    color: #C1C1C1;
}

.pisu:focus-visible {
    outline: none;
}

.nizz {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
    height: 100px;
    font-size: 14px;
}

.pisut {
    border: 1px solid #B8B8B8;
    border-radius: 5px;
    font-size: 14px;
}

.pisut:focus-visible {
    outline: none;
}

textarea, input {
    padding: 10px;
}

button {
    margin-top: 15px;
    border: 1px solid #5A9645;
    border-radius: 5px;
    background-color: #5A9645;
    padding: 6px;
    color: white;
    width: 125px;
    height: 35px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}